<div class="container-our-machines">
    <div class="button-div-left">
        <div class="top">
        </div>
        <div class="div-button">
            <button type="button" title="left">
                <img src="../../../../../../assets/img/icon-left-right/left.svg" alt="left">
            </button>
        </div>
    </div>
    <div class="content-center">
        <div class="content-header">
            <div class="header-left">
                <h1>NOSSOS PRODUTOS</h1>
                <h2><span>Conheça</span> nossos produtos</h2>
            </div>
            <div class="header-right">
                <input type="text" placeholder="Procure por um produto">
            </div>
        </div>
        <div class="content-main">
            <div class="content-card">
                <div class="screen-content-card">
                    <img src="../../../../../../assets/img/maquina2.png" alt="maquina">
                </div>
                <div class="description">
                    <div class="content-title">
                        <h3>nome da maquina</h3>
                    </div>
                    <div class="button-see-more">
                        <button type="button" title="veja mais">Veja Mais</button>
                    </div>
                </div>
            </div>
            <div class="content-card">
                <div class="screen-content-card">
                    <img src="../../../../../../assets/img/maquina2.png" alt="maquina">
                </div>
                <div class="description">
                    <div class="content-title">
                        <h3>nome da maquina</h3>
                    </div>
                    <div class="button-see-more">
                        <button type="button" title="veja mais">Veja Mais</button>
                    </div>
                </div>
            </div>
            <div class="content-card">
                <div class="screen-content-card">
                    <img src="../../../../../../assets/img/maquina2.png" alt="maquina">
                </div>
                <div class="description">
                    <div class="content-title">
                        <h3>nome da maquina</h3>
                    </div>
                    <div class="button-see-more">
                        <button type="button" title="veja mais">Veja Mais</button>
                    </div>
                </div>
            </div>
            <div class="content-card">
                <div class="screen-content-card">
                    <img src="../../../../../../assets/img/maquina2.png" alt="maquina">
                </div>
                <div class="description">
                    <div class="content-title">
                        <h3>nome da maquina</h3>
                    </div>
                    <div class="button-see-more">
                        <button type="button" title="veja mais">Veja Mais</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="button-div-right">
        <div class="top">
        </div>
        <div class="div-button">
            <button type="button" title="right">
                <img src="../../../../../../assets/img/icon-left-right/right.svg" alt="right">
            </button>
        </div>
    </div>
</div>

