<div class="views-machines-and-equipment">
    <div class="left-views">
        <div class="total-projects-and-years-of-experience">
            <div class="total-projects">
                <div class="header-total-projects">
                <h3>22</h3>
                </div>
                <h2>Total de<br>projetos</h2>
            </div>
            <div class="years-of-experience">
                <div class="header-years-of-experience">
                    <h3>30</h3>
                </div>
                <h2>Anos de<br>experiencia</h2>
            </div>
        </div>
        <div class="content-of-machines">
            <h1>NOSSO<br>PROJETO</h1>
            <h4>SV42-SC-01</h4>
            <p>
                Maquina para automatizar tarefas de limpar a garrafa 
                pet e afixar o label  e encher as garrafas com o refrigerante 
            </p>
            <div>
                <button type="button">SABER MAIS SOBRE O PROJETO</button>
            </div>
        </div>
    </div>
    <div class="center-views">
        <h1>SC-01</h1>
        <img src="../../../../../../assets/img/sc-01.png" alt="sc-01">
    </div>
    <div class="right-views">
    <div class="header-fixed-technique">
        
    </div>
    <div class="center-fixed-techinique">
        <div>
            <h1>FIXA TECNICA</h1>
            <h3>PESO: <span>1500KG</span></h3>
            <h3>ALTURA: <span>2M</span></h3>
            <h3>LARGURA: <span>2M</span></h3>
            <h3>COMPRIMENTO: <span>2M</span></h3>
        </div>
    </div>
    <div class="footer-fixed-technique">
        
    </div>
    </div>
</div>
