$corPrincipal: #0180DC;

header{
    width: 100%;
    height: 10%;
    z-index: 5;
    box-shadow: 0px -10px 40px rgba($color: $corPrincipal, $alpha: 0.5);
    margin-bottom: 40px;
    .container-header{
        background-color:black;
        width: 100%;
        height: 100%;
        align-items: center;
        display: flex;
        .logo{
            width: 20%;
            margin-left: auto;
            margin-right: auto;
            img{
                width: 100%;
                height: 100%;
            }
        }
        .nav{
            width: 65%;
            margin-left: auto;
            margin-right: auto;
            align-items: center;
            nav{
                width: 100%;
                justify-content: space-between;
                display: flex;
                align-items: center;
                .active{
                    border-bottom: 3px solid $corPrincipal;
                }
                a{
                    color: white;
                    font-size: 1.4em;
                    padding: 5px;
                    text-decoration: none;
                    &:hover{
                        color: $corPrincipal;
                    }
                }
                button{
                    background-color: transparent;
                    border: none;
                    width: 45;
                    
                    img{
                        width: 45px;
                    }
                }
            }
        }
    }
    .close-menu{
        display: none;
    }
}
@media(max-width: 1366px){
    header{
        .container-header{
            overflow: hidden;
            .logo{
                width: 20%;
            }
                .nav{
                    
                    width: 55%;
                    nav{
                        .local{
                            border-bottom: 3px solid $corPrincipal;
                        }
                        a{
                            color: white;
                            font-size: 1.1em;
                            padding: 5px;
                        }
                        button{
                            background-color: transparent;
                            border: none;
                            width: 40px;
                            
                        }
                        
                    }
                }
        }
    }
}

@media(max-width:785px){
    header{
        display: block;
        .container-header{
            overflow: hidden;
            .logo{
                width: 200px;
            }
                .nav{
                    
                    width: 40%;
                    .mobile{
                        width: 60%;
                        margin-left: auto;
                        margin-right: auto;
                        text-align:center ;
                        display: flex;
                        div{
                            width: 50%;
                            text-align: center;
                            display: flex;
                            position: relative;
                            button{
                                width:  50px !important;
                                height: 50px !important;
                                background-color: transparent;
                                border: none;
                                &:active{
                                    transform: translate(4px);
                                }
                            }
                            #menu{
                                img{
                                    width: 100%;
                                    height: 100%;
                                }
                            }
                            #car{
                                img{
                                    width: 100%;
                                    height: 100%;
                                }
                            }
                        }
                    }
                }
        }
        .open-menu{
            width: 80%;
            position:relative;
            z-index: 10;
            background-color: #0180DC;
            margin: 0 auto;
            border-radius:  0px 0px 10px 10px;
            nav{
                display: block;
                margin-top: 0px;
                div{
                    width: 100%;                 
                    a{  
                        display: block;
                        text-align: center;
                        width: 100%;
                        padding: 10px 0px  10px 0px;
                        text-decoration: none;
                        font-size: 1em;
                        color: white;
                        &:hover{
                            background-color: #033a61;
                        }
                    }
                }
            }
        }
    }
}


