<div class="solutions-and-focus-area">
    <div class="content-left">
        <div>
            <h1>SOLUÇÕES &<br>ÁREA DE FOCO</h1>
        </div>
        <h4><span>NOSSOS</span> SERVIÇÕS</h4>
        <h6>Manutenção</h6>
        <h6>Desenvolvimento de Softwre</h6>
        <h6>projeto e construção de <br><span>Maquinas, Robôs, Vants e  Drones.</span></h6>
    </div>
    <div class="content-right">
    <div class="content-text-solution-focus-area">
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text ever since the .</p>
    </div>
    <div class="content-ilustration">
        <div class="left">
            <div class="content main-theme">
                <div class="icon">
                    <img src="../../../../../../assets/img/icon-robo.png" alt="icone Robô">
                </div>
                <div class="text-content">
                    <h2>Robotica</h2>
                    <p>
                        Projetamos  robôs e construímos. 
                        Cada robo é projetado para um problema em especifico.
                    </p>
                    <a href="#">Veja mais aqui</a>
                </div>
            </div>
            <div class="content">
                <div class="icon">
                    <img src="../../../../../../assets/img/icon-helice.png" alt=" icon vants e dornes">
                </div>
                <div class="text-content">
                    <h2>Aerospace</h2>
                    <p>
                        Projetamos  e construímos Vants e Drones.
                        Vants e drones desenvolvidos para atuar na industria, agricultura e no delivery.
                    </p>
                    <a href="#">Veja mais aqui</a>
                </div>
            </div>
        </div>
        <div class="right">
            <div class="content ">
                <div class="icon">
                    <img src="../../../../../../assets/img/icon-maquinas.png" alt="icone Maquinas">
                </div>
                <div class="text-content">
                    <h2>Maquinas</h2>
                    <p>
                        Projetamos  e construímos maquinas,
                        para atender aos seguintes setores agricultura, 
                        industrias desde alimentícia a industria automobilistica. 
                    </p>
                    <a href="#">Veja mais aqui</a>
                </div>
            </div>
            <div class="content">
                <div class="icon">
                    <img src="../../../../../../assets/img/icon-software.png" alt="icone Software">
                </div>
                <div class="text-content">
                    <h2>Software</h2>
                    <p>
                        Desenvolvemos aplicações Web, Mobile, Sitemas embarcados 
                        customizada para sua empresa ou para seu problema.
                    </p>
                    <a href="#">Veja mais aqui</a>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>

