
.container-content{
    max-width: 100%;
    max-height: 100%;
    height: 60%;
    background-image: url(../../../../../../assets/img/circuits.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    box-shadow: inset 0px -40px 40px 30px rgb(0, 0, 0);
    padding: 0;
    padding-top: 90px;
    margin-bottom: 40px;
    h1{
        margin: 0;
        font-size: 4.5em;
        color: white;
        margin-left: 40px;
        span{
            color: #0066FF;
        }
    }
    h2{ 
        margin: 0;
        font-size: 4em;
        color: #0066FF;
        margin-left:40px;
        
    }
}

@media(max-width:1024px){
    .container-content{
        height: 35%;
        h1{
            font-size: 3.5em;
        }
        h2{ 
            font-size: 3em;
            
        }
    }
}

@media(max-width:785px){
    .container-content{
        height: 35%;
        padding-top: 60px;
        box-shadow: inset 0px -40px 100px 100px rgb(0, 0, 0);
        margin-bottom: 0;
        h1{
            margin: 0;
            font-size: 2.9em;
            color: white;
            margin-left:40px;
            span{
                color: #0066FF;
            }
        }
        h2{ 
            margin: 0;
            font-size: 1.5em;
            color: #0066FF;
            margin-left:40px;
        }
    }
}
@media(max-width:400px){
    .container-content{
        height: 35%;
        padding-top: 60px;
        background-image: rgb(0,0,0);
        box-shadow: inset 0px -40px 100px 150px rgb(0, 0, 0);
        margin-bottom: 0;
        h1{
            margin: 0;
            font-size: 2.9em;
            color: white;
            margin-left:40px;
            span{
                color: #0066FF;
            }
        }
        h2{ 
            margin: 0;
            font-size: 1.5em;
            color: #0066FF;
            margin-left:40px;
        }
    }
}